/* Calendar.module.css */
.container {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.container h1{
    font-size: 1.5em;
    padding: 5px;
    font-weight: 500;
}

.container h2{
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
}

.calendar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}


.react-calendar {
    width: 400px;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    
}


.tasksList {
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
}

.taskItem {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: left;
}

.taskItem p {
    margin: 5px 0;
    text-align: left;
}

.react-calendar__tile--now{
    background: gray !important;
}
.highlight {
    border: 2px solid black!important;
}

.formButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    cursor: pointer;
    border-radius: 5px;
}

.formButton:hover {
    background-color: #45a049;
}

/* Additional CSS for form fields */
.formContainer {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    text-align: left;
}

.formGroup {
    margin-bottom: 15px;
    text-align: right;
}

.formLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
}

.formInput {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left; /* Ensure input text is left-aligned */
}
