/* tasks/Tasks.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.container h1{
  font-size: 1.5em;
  padding: 5px;
  color: black;
  font-weight: 500;
}

.container h2{
  font-size: 1.25em;
  padding: px;
  font-weight: 400;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
}

.editButton {
  background-color: #1976D2;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px
}

.editButton:hover {
  background-color: #1976D2;
}

.deleteButton {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 4px
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.completeButton {
  background-color: #4CAF50; /* Blue */
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 4px;
}

.completeButton:hover {
  background-color: #45a049; /* Darker blue */
}

.formContainer {
  background-color: #f9f9f9;
  padding: 0px;
  border-radius: 5px;
  
}

.formGroup {

  margin-bottom: 15px;
  margin-top: 10px;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  font-weight: 500;
}

.formInput {
  width: 100%;
  padding: 10px;
  margin: 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #45a049;
}

.completedTasksHeading {
  margin-top: 20px;
  color: black;

}

.completedTasksList {
  margin-top: 5px;
  color: gray;
}

.completedTasksList .table th,
.completedTasksList .table td {
  color: gray; /* Apply gray color to the text in table headers and cells */
  

}
