/* src/app/home/home.module.css */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  background-image: radial-gradient( circle farthest-corner at 48.8% 52%,  rgba(15,13,58,1) 0.1%, rgba(10,14,42,1) 100.2% );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  filter:brightness(0.95)
}



.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 40px;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.container p {
  font-size: 3em;
  color: black;
}

.container h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 40px;
  color: white;
}

.taskList {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  width: 400px;
  text-align: center;
}

.taskItem {
  background: rgba(249, 249, 249, 0.24);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
  color: white;
  opacity: 100%;
  
}

.toast-warning {
  background-color: red !important;
  color: white !important;
}

.container p {
  font-size: 4em;
  color: white;
}

.taskList li{
  color: white;
}

.taskList span{
  color: white;
}